.wrapper {
	width: 100%;
	height: 100vh;
	padding: 8px 24px 0;
}

.header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.back {
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;

	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('/src/assets/icons/back.svg');
}

.title {
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
}

.buttons {
	margin-top: 24px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}
