@import '/src/assets/styles/variables';

.input {
	width: 100%;
	padding: 7px 0;

	border: 1px solid transparent;
	border-radius: 4px;

	font-size: 18px;
	line-height: 27px;
	color: $white;

	transition: all 0.3s ease;

	&::placeholder {
		color: #afafaf;
	}

	&:focus {
		padding: 7px 15px;
		border-color: $light-gray;
	}
}
